# compiled output
/js

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/tmp
/connect.lock
/coverage/*
npm-debug.log
yarn-debug.log
yarn-error.log
/checkstyle-result.xml

#System Files
.DS_Store
Thumbs.db
